<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="css/styles.css">

        <title>Addiction tracker and Recovery</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">Addiction tracker and Recovery</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#share" class="nav__link">About Us</a></li>
                        <li class="nav__item"><a href="#decoration" class="nav__link">Awareness</a></li>
                        <li class="nav__item"><a href="#accessory" class="nav__link">Contact Us</a></li>

                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="img/main.png" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Addiction tracker and Recovery</h1>
                        <!-- <p class="home__description">In these end of the year holidays send a gift to your loved one and share the happiness at Christmas.</p> -->
                        <a href="/lrp" class="button" style="display:inline-block;">Login/Signup for patient</a>
                        <a href="/lrt" class="button" style="display:inline-block;">Login/Signup for therapist</a>
                    </div>   
                </div>
            </section>

            <!--========== SHARE ==========-->
            <section class="share section bd-container" id="share">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">What we do?</h2>
                        <p class="share__description">We offer a state of the art and holistic healing environment and to create a unique recovery experience for individuals suffering from various forms of addictions like alcoholism and drug addiction.</p>
                        <a href="#" class="button">Learn More</a>
                    </div>

                    <div class="share__img">
                        <img src="img/blah.jpg" alt="">
                    </div>
                </div>
            </section>

            <!--========== DECORATION ==========-->
            <section class="decoration section bd-container" id="decoration">
                <h2 class="section-title">Give Christmas Decorations <br> For Your Home</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="img/decoration1.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Christmas Bells</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="img/decoration2.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Christmas Candies</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="img/decoration3.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Christmas Trees</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>
                </div>
            </section>

            <!--========== ACCESSORIES ==========-->
            <section class="accessory section bd-container" id="accessory">
                <h2 class="section-title">Our satisfied members </h2>

                <div class="accessory__container bd-grid">
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>
                    <div class="accessory__content">
                        <img src="https://visualpharm.com/assets/387/Person-595b40b75ba036ed117da139.svg" alt="" class="accessory__img">
                        <h3 class="accessory__title">Name1</h3>
                        <span class="accessory__category">some info</span>
                        <a href="#" class="button accessory__button"> &#8594</a>
                    </div>

                    
                </div>
            </section>

            <!--========== SEND GIFT ==========-->
            <section class="send section">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Send us an Email</h2>
                        <p class="send__description">For any queries feel free to drop an email .</p>
                        <form action="">
                            <div class="send__direction">
                                <input type="text" placeholder="Email address" class="send__input">
                                <a href="#" class="button">Send</a>
                            </div>
                        </form>
                    </div>

                    <div class="send__img">
                        <img src="img/send.png" alt="">
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section">
            <div class="footer__container bd-container bd-grid">
                <div class="footer__content">
                    <h3 class="footer__title">
                        <a href="#" class="footer__logo">Addiction Trcker</a>
                    </h3>
                    <p class="footer__description">Addiction tracker and recovery app</p>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Our Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Pricing </a></li>
                        <li><a href="#" class="footer__link">Discounts</a></li>
                        <li><a href="#" class="footer__link">Shipping mode</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Our Company</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Blog</a></li>
                        <li><a href="#" class="footer__link">About us</a></li>
                        <li><a href="#" class="footer__link">Our mision</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Social</h3>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook-circle '></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
                </div>
            </div>

            <p class="footer__copy">&#169; 2022 Thapar Universoty. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="js/main.js"></script>
    </body>
</html>